<html>
<div class="card-header pb-0">
    <div class="d-lg-flex">
        <div>
            <h5 class="mb-0">Clientes</h5>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm">
                        <a class="text-primary" href="#">
                            <i class="ni ni-box-2"></i>
                        </a>
                    </li>
                    <li class="mx-2  text-sm  active"><a class="opacity-5 text-dark active" href="#">Clientes</a>
                    </li>
                    
                </ol>
                <h6 class="font-weight-bolder mb-0 text-white">Lista de clientes</h6>
            </nav>
        </div>
        <div class="ms-auto my-auto mt-lg-0 mt-4">
            <div class="ms-auto my-auto">
                <a href="" class="btn bg-gradient-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#nuevoUser"
                    data-bs-original-title="Ver detalle">+&nbsp; Nuevo cliente</a>
                
                </a>

            </div>
        </div>
    </div>
</div>

</html>